#container {
  flex: 1;
}

#mapContainer {
  height: 100vh;
}

.tooltip {
  width: 25%;
  max-width: 300px;
  float: left;
  text-align: center;
  height: 100%;
  transition: all 0.5s ease;
  background-color: #f5f5f5;
  position: absolute;
  border-right: 1px solid #d2d2d2;
  z-index: 999999;
  color: #2e2e2e;
  font-family: sans-serif;
  overflow: scroll;
}

.row {
  flex: 1 1;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.row:nth-child(even) {
  background: #ccc;
}
.row:nth-child(odd) {
  background: #fff;
}
.row p {
  padding-left: 6px;
  padding-right: 6px;
  padding-top:4px;
  padding-bottom:4px;
  text-align: left;
}
.row p:nth-child(even) {
  font-weight: bold;
}

.singleRow {
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #389a05;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

button.blueButton {
  border: none;
  background: #3388ff;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.closeButton {
  width: 100%;
}

.pageName {
  width: 100%;
  padding: 10px;
  background-color: #276f00;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.linkButton {
  right: 0px;
  float: right;
  position: absolute;
  top: 0px;
}

.goToSimulator {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f05624 !important;
}

.legendContainer {
  position: absolute;
  width: 15%;
  min-width: 250px;
  z-index: 99999;
  right: 0;
  background-color: rgba(255,255,255,0.85);
  padding: 10px;
  max-height: 100%;
}

.legendColor {
  width: 100%;
  height: 20px;
  position: relative;
}

.legendTitle {
  padding: 4px;
  background-color: #296f01;
  color: white;
  margin: 2px;
  border-radius: 2px;
}
.otherLegend {
  background-color: #498725;
}
.simulator {
  transition: all 0.5s ease;
  position: absolute;
  height: 300px;
  width: 400px;
  background: white;
  text-align: center;
  overflow: scroll;
  z-index: 999999;
  border: 1px solid #f2efe9;
  left: 30%;
}