#container{
  flex: 1;
}

#mapContainer {
  height: 100vh;
}

.tooltip{
  width:25%;
  max-width:300px;
  float: left;
  text-align: center;
  height: 100%;
  transition: all 0.5s ease;
  background-color: #f5f5f5;
  position: absolute;
  border-right: 1px solid #d2d2d2;
  z-index: 999999;
  color: #2e2e2e;
  font-family: sans-serif;
  overflow: scroll;
}

.row {
  flex: 1 1;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.row:nth-child(even) {background: #CCC}
.row:nth-child(odd) {background: #FFF}
.row p {
  padding: 6px;
  text-align: left;
}
.row p:nth-child(even) {
font-weight: bold;
}

.singleRow {
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #389a05;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

button.blueButton {
  border: none;
  background: #3388ff;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.closeButton{
  width: 100%;
}

.pageName{
  width: 100%;
  padding: 10px;
  background-color: #276f00;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.linkButton {
  right: 0px;
  float: right;
  position: absolute;
  top: 0px;
}

.goToSimulator {
  width: 100%;
  margin-top:20px;
  margin-bottom:20px;
}